.page-header
	%h1= controller.action_name.capitalize + " task: #{@task.title}"
= form_for @task, :html => { :class => "edit_task form-horizontal", :id => "edit_task" } do |f|
	= render :partial => "form", :locals => {:f => f}
