= form_tag search_project_developers_path(@project), {:class => 'form-inline', :remote => true} do
	= text_field_tag :query, '', {:class => "input-medium search-query span4", :placeholder => 'Name or username'}
	= submit_tag "Search", {:class => "btn"}
#developers