.page-header
	%h1= controller.action_name.capitalize + " project: #{@project.title}"
= form_for @project, :html => { :class => "edit_project form-horizontal", :id => "edit_project" } do |f|
	= render :partial => "form", :locals => {:f => f}
